In [1]:
#Task6
 
tup1 = (1,2,3,4,4.5,6.8,"vishnu","analysis","python")
list1 = list(tup1)
type(tup1)

tuple

In [2]:
list1

[1, 2, 3, 4, 4.5, 6.8, 'vishnu', 'analysis', 'python']

In [3]:
list1[0] = 100

In [4]:
list1

[100, 2, 3, 4, 4.5, 6.8, 'vishnu', 'analysis', 'python']

In [5]:
tup1 = tuple(list1)

In [6]:
tup1

(100, 2, 3, 4, 4.5, 6.8, 'vishnu', 'analysis', 'python')

In [8]:
list2 = list(tup1)

In [9]:
list2

[100, 2, 3, 4, 4.5, 6.8, 'vishnu', 'analysis', 'python']

In [10]:
list2.pop(0)

100

In [11]:
list2

[2, 3, 4, 4.5, 6.8, 'vishnu', 'analysis', 'python']

In [12]:
tup1 = tuple(list2)

In [13]:
tup1

(2, 3, 4, 4.5, 6.8, 'vishnu', 'analysis', 'python')

In [1]:
#symmetric difference

A = {1,2,3,4,5}
B = {2,4,5}
c = {}
print(A.symmetric_difference(B))

{1, 3}

In [2]:
print(A.symmetric_difference(c))

{1, 2, 3, 4, 5}

In [3]:
print(A^B)

{1, 3}