In [1]:
#list of 10 which acces og 5 to 8 element
l1 = [1,11,21,31,41,51,61,71,81,91]
l1[4:8]

[41, 51, 61, 71]

In [2]:

#add sublist [7,8] after 6
#input
l2 = [1,2,[3,4,5,6],9]
l3 = [7,8]
l2.insert(3,l3)

In [3]:
l2

[1, 2, [3, 4, 5, 6], [7, 8], 9]

In [4]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [5]:
#access mike
dict1["april_batch"]["student"]["name"]

'Mike'

In [9]:
#access 80 
dict1["april_batch"]["student"]["marks"]["python"]

80

In [10]:
#access with my name
dict1["april_batch"]["student"]["name"] = "vishnu"

In [11]:
dict1

{'april_batch': {'student': {'name': 'vishnu',
   'marks': {'python': 80, 'maths': 70}}}}

In [12]:
dict1["april_batch"]["student"]["marks"]["ML"] = "80"

In [13]:
dict1["april_batch"]["student"]["marks"]["DL"] = "90"

In [14]:
dict1

{'april_batch': {'student': {'name': 'vishnu',
   'marks': {'python': 80, 'maths': 70, 'ML': '80', 'DL': '90'}}}}